<script type="text/javascript">
  $('#micropost_content').live('keyup keydown', function(e) {
    var maxLen = <%= Micropost.maxlength %>;
    var left = maxLen - $(this).val().length;
    if (left < 0) {
      $(this).val($(this).val().substring(0, maxLen))
      left = 0
    }
    $('#char_count').html(left);
  });
</script>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div>Characters left: <span id="char_count"><%= Micropost.maxlength %></span></div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
